* {
	margin: 0;
	padding: 0;
}

ul,li,img {
	padding: 0;
	margin: 0;
}

h1,h2,h3 {
	font-family: 'Natasha', Tahoma, sans-serif;
}

a {
	text-decoration: none;
}

body {
	font-family: 
	font-size: 15px;
	line-height: 20px;
	letter-spacing: 2.2px;
}

.clearfix {
	content: ''; 
	width: 100%;
	display: table;
	clear: both;
}

.container {
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 20px;
	/* border-left: 1px solid red; */
	/* border-right: 1px solid red; */
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.sec-header {
	background: #22291b url('../img/h4-2_bg-header.jpg') no-repeat center top / cover;
}


.header {
	height: 100vh;
	color: #fff;
	display: flex;
	flex-direction: column;
}

.header__logo{
	display: flex;
	justify-content: space-between;
	flex: 1 1 auto;
	margin-top: 5%;
}


.logo{

}

.logo__link {
	color: #fff;
	font-family: 'MuseoSansCyrl-900';
	font-size: 17px;
	text-transform: uppercase;
	font-weight: bold;
}

.logo__link span {
	font-family: 'MuseoSansCyrl-100';
}

nav{
	display: flex;
	flex-direction: column;
}

.menu {
	display: flex;
	list-style: none;
}

.menu__item {

}

.menu__item-link {
	color: #fff; 
	font-family: 'MuseoSansCyrl-900';
	font-size: 15px;
	text-transform: uppercase;
	padding: 5px 20px;
}

.menu__item-link:hover {
	box-shadow: 0 0 7px 5px #fff;
	background: #fff;
	color: #000; 
}

.header__mail {
	font-family: 'MuseoSansCyrl-300';
	font-size: 13px;
	line-height: 18px;
	letter-spacing: 2.5px;
}

.header__mail:after {
	content: '';
	display: block;
	background: #666865;
	width: 152px;
	height: 1px;
	margin-top: 3px;
}

.header__main{
	margin-bottom: 45vh;
}

.header__headline {
	/* margin-top: 310px; */
	/* margin-top: 25%; */
	/* margin-bottom: 2px; */
	text-align: center;
	font-size: 49px;
	line-height: 55px;
	letter-spacing: 5.9px;
}

.header__paragraph {
	font-family: 'MuseoSansCyrl-100';
	text-align: center;
	font-size: 29px;
	line-height: 55px;
	letter-spacing: 3.3px;
	text-transform: uppercase;
	/* margin-bottom: 25%; */
}

.header__link {
	background: url('img/h4-2_arrow.png') no-repeat;
	display: block;
	width: 40px;
	height: 40px;
	margin: 250px auto 82px auto;
}

.header__link:hover {
	overflow: hidden;
	box-shadow: 0 0 5px 5px #fff; 
}

/* --- About --- */
.about {
	padding-top: 90px;
	/*padding-bottom: 90px;*/
}

.about__headline {
	font-size: 37px;
	letter-spacing: 4px;
	color: #22241b;
	text-transform: uppercase;
	/*line-height: 55px;*/
}


.about__block-left {
	float: left;
	width: 435px;
}

.left-headline {
	font-size: 22px;
	color: #888886;
	text-transform: uppercase;
	margin: 80px 0 35px 0; 
}

.left-paragraph {
	font-family: 'MuseoSansCyrl-300';
	color: #22241b;
	/*margin: 50px 0;*/
	margin-top: 25px;
	line-height: 29px;
	letter-spacing: 0.3px;
}
.about__block-right {
	float: right;
	width: 460px;
	margin-top: 80px;
}

.right-headline {
	font-size: 22px;
	color: #888886;
}

.right-list {
	width: 460px;
	margin-top: 45px;
	margin-left: 15px;
}

.right-list__item {
	float: left;
	display: block;
	text-align: center;
	margin-right: 54px;
}

.right-list__item:nth-child(3){
	margin-right: 0;
}

.right-list__number {
	background: url('img/h4-2_romb.png') no-repeat;
	width: 103px;
	height: 103px;
	padding-top: 42px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0 auto;
	margin-bottom: 20px;
}

.right-list__paragraph {
	font-family: 'MuseoSansCyrl-100';
	font-size: 12px;
	text-transform: uppercase;
	color: #22241b;
	letter-spacing: .1px;
	font-weight: bold;
}

/*.romb {
	display: block;
}*/

.connection {
	margin-top: 64px;
}

.connection__headline {
	font-size: 22px;
	/*letter-spacing: 2px;*/
	color: #888886;
	margin-bottom: 30px;
}

.connection__link {
	float: left; 
	width: 170px;
}

.link-element {
	color: #204d15;
	font-family: 'MuseoSansCyrl-300';
	font-size: 14px;
	letter-spacing: 1.8px;
	display: block;
	margin-bottom: 15px;
}

.link-element:after {
	content: '';
	background: #becbbb;
	display: block;
	width: 170px;
	height: 1px; 
}

.link-element:nth-child(2):after {
	width: 116px;
}

.link-element:nth-child(3):after {
	width: 145px;
}

.link-element:hover {
	color: #000;
	font-weight: bold;
}

.link-element:hover:after {
	color: #000;
	font-weight: bold;
	background: #000;
}

.link-element:nth-child(3):hover {
	color: #204d15;
	font-weight: normal;
}

.link-element:nth-child(3):after {
	background: #becbbb;
}

.communication {
	float: right;
	/*width: 250px;*/
	margin-top: 10px;
}

.comminication__paragraph {
	background: url('img/h4-2_person.png') no-repeat left top;
	width: 250px;
	height: 64px;
	font-family: 'MuseoSansCyrl-300';
	font-size: 14px;
	letter-spacing: .2px;
	padding-top: 20px;
	padding-left: 84px;
	font-style: italic;
	/*font-weight: bold;*/
	color: #204d15;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
/* --- End About --- */

/*--- Skills ---*/
.skills {
	padding-top: 100px;
	padding-bottom: 88px;
}

.skills__list:nth-child(3) {
display: none;
}

.skills__headline {
	font-size: 37px;
	letter-spacing: 5px;
}

.skills__list {
	margin-top: 60px;
}

.skills__list-item {
	float: left;
	display: block;
	/*width: 200px;*/
}

.item-percent {
	background: url('img/h4-2_img-skill.png') no-repeat;
	width: 61px;
	height: 61px;
	text-align: center;
	font-family: 'MuseoSansCyrl-100';
	font-size: 13px;
	color: #204d15; 
	float: left;
	padding: 20px 0 20px 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.item-paragraph {
	/*clear: left;*/
	margin-top: 20px;
	margin-left: 88px;
	margin-right: 36px;
	font-family: 'MuseoSansCyrl-900';
	text-transform: uppercase;
	/*color: #4b4c47;  */
	color: #22241b;
}

.skills__list-item:nth-child(2) .item-paragraph:nth-child(2){
	margin-right: 89px;
}

.skills__list-item:nth-child(3) .item-paragraph:nth-child(2){
	margin-right: 106px;
}

.skills__list-item:nth-child(4) .item-paragraph:nth-child(2){
	margin-right: 0px;
}
/*--- End Skills ---*/

/*--- Works ---*/
.sec-works{
	background: #d7eedc;
}
.works{
	padding-top: 50px;
}
.works__headline {
	font-size: 37px;
	letter-spacing: 5px;
}

.works__content {
	text-align: center;
	margin-top: 66px;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap; 
}

.works__content-img {
	display: block;
	width: 100%;
	height: 100%;
	max-height: 400px;
	object-fit: cover;
	object-position: top;
	
}

.workss .works__content-link{
	display: flex;
	margin-right: 20px;
}
.workss .works__content-link:last-child{
	margin-right: 0px;
}

.works__content-link {
	position: relative;
	width: 350px;
	min-height: 300px;
	background-color: #2a5030;
	margin-bottom: 20px;
	box-shadow: 10px 10px 50px #52604d;
	/* margin-right: 20px; */
}


.overlay {
	display: none;
}

.overlay__title {
	font-family: 'MuseoSansCyrl-900';
	font-weight: bold;
	text-transform: uppercase;
	margin-top: 45%;
	margin-bottom: 3px;
	letter-spacing: 0.2px;
}

.overlay__link {
	color: #fff;
	/* color: #3c6b2c; */
	font-family: 'MuseoSansCyrl-300';
	font-size: 13px;
	letter-spacing: 0.8px;

}

.works__content-link:hover .overlay {
	background: rgba(0,0,0,0.8);
	color: #fff;
	display: block;
	position: absolute;
	left: 0;
	top: 0; 
	width: 100%;
	height: 100%;
}

.overlay__link:hover {
	padding-bottom: 2px;
	border-bottom: 1px solid #838486;
}
/*--- End Works ---*/

/*---- Footer ----*/
.copyright {
	font-family: 'MuseoSansCyrl-300';
	font-size: 11px;
	color: #22241b;
	text-transform: uppercase;
	letter-spacing: 1.6px;
	padding-top: 115px;
	padding-bottom: 106px; 
}
/*---- End Footer ----*/